---
layout: simple
tab: Official page
title: Home & Biography
subtitle: Our journey and destination
custom_js: index.js
---

<!-- About Section -->
<section class="about-section">
    <div class="container">

        <!-- General Information -->
        <div class="general-info-wrapper position-relative mb-3 pb-2 mt-2">
            
            <!-- WATERMARK LOGO -->
            <div class="watermark-logo"></div>

            <!-- CONTENT -->
            <div class="general-info-content">
                
                <!-- Title -->
                <div class="row mb-2">
                    <div class="col-12 text-center">
                        <h2 class="section-title">General information</h2>
                    </div>
                </div>

                <!-- Text content -->
                <div class="row mb-3">
                    <div class="col-12">
                        <p>
                            METIRIA is a band from Eastern Sicily that blends Progressive and Symphonic elements together with 
                            heavy influences derived from modern Metal. <a href="{{ '/lineup.html#currentmembers' | relative_url }}">The band</a>
                            is formed by Aurora Amas, Arturo Caflisch, Lorenzo Ragusa, Angelo Li Rosi and Sergio Giuliano.
                        </p>
                    </div>
                </div>

                <!-- BAND MEMBERS' CAROUSEL -->
                <div class="carousel-wrapper d-flex align-items-center justify-content-center mt-4 mb-4">
    
                    <!-- Left button -->
                    <button id="scroll-left" class="btn-metiria btn-carousel mx-2" aria-label="Precedente">
                    <i class="fas fa-chevron-left"></i>
                    </button>

                    <!-- Band members card set -->
                    <div class="css-marquee-container mx-2" id="members-carousel">
                    <div class="css-marquee-track">

                        <!-- Aurora -->
                        <a href="{{ '/aurora.html' | relative_url }}" class="css-marquee-item">
                            <img src="{{ '/files/members/Aurora 0.jpeg' | relative_url }}" alt="Aurora">
                            <div class="css-marquee-caption">
                                <h5>Aurora Amas</h5>
                                <p>Vocals</p>
                            </div>
                        </a>
            
                        <!-- Arturo -->
                        <a href="{{ '/arturo.html' | relative_url }}" class="css-marquee-item">
                            <img src="{{ '/files/members/Arturo 0.jpeg' | relative_url }}" alt="Arturo">
                            <div class="css-marquee-caption">
                                <h5>Arturo Caflisch</h5>
                                <p>Guitar</p>
                            </div>
                        </a>
            
                        <!-- Lorenzo -->
                        <a href="{{ '/lorenzo.html' | relative_url }}" class="css-marquee-item">
                            <img src="{{ '/files/members/Lorenzo 0.jpeg' | relative_url }}" alt="Lorenzo">
                            <div class="css-marquee-caption">
                                <h5>Lorenzo Ragusa</h5>
                                <p>Bass</p>
                            </div>
                        </a>
            
                        <!-- Angelo -->
                        <a href="{{ '/angelo.html' | relative_url }}" class="css-marquee-item">
                            <img src="{{ '/files/members/Angelo 0.jpeg' | relative_url }}" alt="Angelo">
                            <div class="css-marquee-caption">
                                <h5>Angelo Li Rosi</h5>
                                <p>Keyboards</p>
                            </div>
                        </a>
            
                        <!-- Sergio -->
                        <a href="{{ '/sergio.html' | relative_url }}" class="css-marquee-item">
                            <img src="{{ '/files/members/Sergio 0.jpeg' | relative_url }}" alt="Sergio">
                            <div class="css-marquee-caption">
                                <h5>Sergio Giuliano</h5>
                                <p>Drums</p>
                            </div>
                        </a>
            
                    </div>
                    </div>

                    <!-- Bottone Destra -->
                    <button id="scroll-right" class="btn-metiria btn-carousel mx-2" aria-label="Successivo">
                        <i class="fas fa-chevron-right"></i>
                    </button>

                </div>

            </div>

        </div>

        <!-- Music Style -->
        <div class="row align-items-center">
            <div class="col my-4">
                <h2 class="section-title">Music style</h2>
                <p>
                    The stylistic signature of the musical group is based on the balance between power and sound research: eight and twelve string guitars, six string basses, acoustic and electronic percussions, pianos and synths interweave with the intense and full-bodied voice of the front-woman.
                    Extreme genres’ complex rhythms dialogue with wide melodies and harmonies ranging from classical counterpoint to contemporary modal music.
                    The multifaceted identity of the band, result of the different musical backgrounds of its members, encompasses pop-rock, classical music, jazz, funk and metal.
                </p>
            </div>
        </div>
        
        <!-- Attention Seeker video div -->
        <div class="video-hero position-relative overflow-hidden d-flex align-items-center justify-content-center">
            <!-- Background video -->
            <video autoplay loop muted playsinline webkit-playsinline preload="auto" class="bg-video">
                <source src="{{ '/files/videos/clip_attention_seeker.mp4' | relative_url }}" type="video/mp4">
            </video>
            <!-- Dark overlay-->
            <div class="video-overlay position-absolute top-0 start-0 w-100 h-100"></div>
            <!-- Title and watch now -->
            <div class="content-overlay position-relative z-3 text-center">
                <h1 class="band-name">METIRIA</h1>
                <h2 class="song-title">ATTENTION SEEKER</h2>
                <a href="https://www.youtube.com/watch?v=A4u9jzIAPk8" class="btn-metiria" target="_blank">
                    WATCH VIDEO
                </a>
            </div>
        </div>

        <!-- Beginning as a local project -->

        <!-- Title -->
        <div class="row mt-5 mb-4">
            <div class="col-12">
                <h2 class="section-title text-center">Beginning as a local project</h2>
            </div>
        </div>

        <!-- Beginning as a local project -->
        <div class="row align-items-center mb-5">
    
            <!-- Text Column -->
            <div class="col-12 col-lg-6 mb-4 mb-lg-0 pe-lg-5">
                <p class="text-lg-start">
                    The project takes its form and entirety in 2024 in Catania with the debut of Metiria in the setting of the <a href="{{ '/tour.html#disummer-2024' | relative_url }}">Benedictine Monastery</a>, but its birth dates back to the first writing sessions held right away in a small studio of their own.
                    “The office” as they like to call it, is a simple but essential space built with consistency and passion by musicians, hosting frequent late-night jam sessions, technological experimentations and long-lasting hours of musical exchanges shaping the group’s identity up to present days. 
                    At the beginning of the band’s career, only a few stages had been tread: some <a href="{{ '/tour.html#local-contests-2024' | relative_url }}">local contests</a> and <a href="{{ '/tour.html#rock-festivals-2025' | relative_url }}">festivals</a>, a few live performances in small theaters, and other minor gigs often providing the band with just expense reimbursements.
                    Despite this, the band’s vision was already clear and, in on year’s time, the first national shows in Basilicata and Calabria have been already put on.
                </p>
            </div>
    
            <!-- Auto-scrolling images column -->
            <div class="col-12 col-lg-6">
                <div class="photo-switch-container">
                    <div id="localProjectCarousel" class="carousel slide carousel-fade w-100 h-100" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
                        <div class="carousel-inner w-100 h-100">
                    
                        {% assign target_folder = "/files/events_pictures/sanremo-national-finals/" %}
                        {% assign is_first = true %}
                    
                            {% for file in site.static_files %}
                                {% if file.path contains target_folder %}
                                    {% assign ext = file.extname | downcase %}
                                    {% if ext == '.jpg' or ext == '.jpeg' or ext == '.png' %}
                                
                                        <div class="carousel-item w-100 h-100 {% if is_first %}active{% endif %}">
                                            <img src="{{ file.path | relative_url }}" class="switch-img" alt="Metiria local project">
                                        </div>
                                        {% assign is_first = false %}

                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Dawn of national and international success -->
        <div class="row align-items-center">
            <div class="col my-4">
                <h2 class="section-title">Dawn of national and international success</h2>

                <p>
                    The turning point came with the band’s participation to the Sanremo Rock contest. After being selected for the regional phase at first, and for the <a href="{{ '/tour.html#sanremo-interregional' | relative_url }}">interregional round</a> subsequently, Metiria’s song <a href="{{ '/releases.html#sorrow' | relative_url }}">Sorrow</a> reached the <a href="{{ '/tour.html#sanremo-national-finals' | relative_url }}">national grand final</a> which took place in the world-famous “Teatro Ariston” <a href="{{ site.baseurl }}{% post_url news/2025-09-15-sanremo-rock-metiria %}">winning the third overall place</a> of the renowned original music competition. 
                    This result marks the second era of the project arousing new interest and medial resonance for the Sicilian formation.  
                    Thanks to this experience the band is notified of the possibility to take part to the San Marino Song Contest. 
                    Metiria decides to catch this opportunity without any hesitation.
                    Between more than 800 bands who applied for the <a href="{{ '/tour.html#dreaming-san-marino-casting' | relative_url }}">Castings</a>, the band is included in the list of the first 240 gaining the access to the <a href="{{ '/tour.html#dreaming-san-marino-stage' | relative_url }}">Stage & Live Academy</a>, competing with its new song <a href="{{ '/releases.html#attention-seeker' | relative_url }}">Attention seeker</a> with numerous national and international artists.
                    Today the group made the top being selected for the <a href="{{ '/tour.html#san-marino-semifinals' | relative_url }}">first semifinal</a>, being <a href="{{ site.baseurl }}{% post_url news/2026-02-20-ariston-metiria %}">part of the first 20 </a>of the total of 40 artists running for a place in the grand final.
                </p>
            </div>
        </div>

        <!-- Present vision & future goals -->
        <div class="row align-items-center">
            <div class="col my-4">
                <h2 class="section-title">Present vision & future goals</h2>
                <p>
                    The journey, built from the ground in a small and independent studio in the heart of Catania, has now grown step by step thanks to constant discipline and research merged with a precise artistic vision: blending creative technique and emotional intensity in a contemporary and recognisable language.
                    This artist’s conception leads the current production of the band’s <a href="{{ '/releases.html#albums' | relative_url }}">first album</a> soon available on all streaming platforms</a>.
                </p>
            </div>
        </div>
        
    </div>
</section>