<footer class="footer">
    <section class="social-section">
        <div class="container">
            <h2 class="section-title text-center">Follow Us</h2>
            <div class="row">
                <div class="col-lg-3 col-sm-12">
                    <h3 class="text-center my-4">Social Accounts</h3>
                    <div class="social-links">
                        <a href="https://www.instagram.com/metiria_official.band/" class="social-link" title="Instagram" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://www.facebook.com/people/Metiria/61577155613030/" class="social-link" title="Facebook" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.tiktok.com/@metiria.official.band" class="social-link" title="TikTok" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCD7VtGKO535H9U2oDgVoNAA" class="social-link" title="YouTube" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2">
                </div>
                <div class="col-lg-4 col-sm-8">
                    <h3 class="text-center my-4">Streaming Platforms</h3>
                    <div class="social-links">
                        <a href="https://open.spotify.com/artist/575QSgXBasgK2pYhDYIOzX" class="social-link" title="Spotify" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-spotify"></i>
                        </a>
                        <a href="https://music.youtube.com/channel/UCNlfu6Pp_7pEbpZVkiJncKA" class="social-link" title="YouTube Music" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-square-youtube"></i>
                        </a>
                        <a href="https://music.apple.com/it/artist/metiria/1880026940" class="social-link" title="Apple Music" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-apple"></i>
                        </a>
                        <a href="https://music.amazon.it/artists/B0GQ4Z826P/metiria" class="social-link" title="Amazon Music" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-amazon"></i>
                        </a>
                        <a href="https://www.deezer.com/en/artist/375726031" class="social-link" title="Deezer" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-deezer"></i>
                        </a>
                        <a href="https://tidal.com/artist/75002045" class="social-link" title="Tidal" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-tidal"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-2">
                </div>
                <div class="col-lg-2 col-sm-6">
                    <h3 class="text-center my-4">Contacts</h3>
                    <div class="social-links">
                        <!-- Added the email button -->
                        <button id="copyMailBtn" class="social-link" data-email="metiria.band@gmail.com" title="Copy Email" aria-label="Copy email address">
                            <i class="fas fa-envelope"></i>
                        </button>
                        <a href="#" class="social-link" title="Newsletter" target="_blank" rel="noopener noreferrer">
                            <i class="fas fa-newspaper"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-6">
                    <h3 class="text-center my-4">Support</h3>
                    <div class="social-links">
                        <a href="https://www.patreon.com/" class="social-link" title="Patreon" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-patreon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Copyright and Policy&Terms of use section -->
    <section class="copyright-section">
        <div class="container">
            <div class="copyright-bar">
                <a href="{{ '/privacy-policy.html' | relative_url }}" class="legal-link btn-metiria">Privacy Policy</a>

                <p class="copyright-text">
                    Copyright &copy; {{ 'now' | date: '%Y' }} Metiria. All rights reserved.<br>
                    Metiria&reg; is a registered trademark - No. 302026000050839 <br>
                    Concept by Giulio Caflish, made by Davide Libro
                </p>

                <a href="{{ '/terms.html' | relative_url }}" class="legal-link btn-metiria">Terms of Use</a>
            </div>
        </div>
    </section>
</footer>
