<nav class="navbar navbar-expand-lg navbar-dark fixed-top p-2">
    <div class="container-xxl">
        <a href="{{ '/' | relative_url }}" class="navbar-brand">
            <img src="{{ '/files/logo/transparent_background/Logo/5-7.png' | relative_url }}" height="50" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/documentation.html' %}active{% endif %}" href="{{ '/documentation.html' | relative_url }}">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/play.html' %}active{% endif %}" href="{{ '/play.html' | relative_url }}">Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/team.html' %}active{% endif %}" href="{{ '/team.html' | relative_url }}">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/contacts.html' %}active{% endif %}" href="{{ '/contacts.html' | relative_url }}">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>