<nav class="navbar navbar-expand-lg navbar-dark fixed-top p-2">
    <div class="container-xxl">
        <a href="{{ '/' | relative_url }}" class="navbar-brand d-lg-none">
            <img src="{{ '/files/logo/transparent_background/Logo/5-7.png' | relative_url }}" height="160" alt="Metiria Logo">
        </a>

        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse menu-layout" id="navbarMenu">
            <ul class="navbar-nav menu-nav menu-nav-left">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/tour.html' %}active{% endif %}" href="{{ '/tour.html' | relative_url }}">Tour</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/releases.html' %}active{% endif %}" href="{{ '/releases.html' | relative_url }}">Releases</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/store.html' %}active{% endif %}" href="{{ '/store.html' | relative_url }}">Store</a>
                </li>
            </ul>

            <a href="{{ '/' | relative_url }}" class="navbar-brand d-none d-lg-inline-flex menu-brand-center">
                <img src="{{ '/files/logo/transparent_background/Logo/5-7.png' | relative_url }}" height="160" alt="Metiria Logo">
            </a>

            <ul class="navbar-nav menu-nav menu-nav-right">
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/pictures.html' %}active{% endif %}" href="{{ '/pictures.html' | relative_url }}">Pictures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/news.html' %}active{% endif %}" href="{{ '/news.html' | relative_url }}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/lineup.html' %}active{% endif %}" href="{{ '/lineup.html' | relative_url }}">Lineup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page.url == '/follow.html' %}active{% endif %}" href="{{ '/follow.html' | relative_url }}">Follow</a>
                </li>
            </ul>
        </div>
    </div>
</nav>