/* Media Query for centering home text for mobile view */
@media (max-width: 767px) {
    p, .home-text, ul li { 
        text-align: center !important;
        hyphens: auto;
        -webkit-hyphens: auto;
    }
    ul {
        list-style-type: none; 
        padding-left: 0; 
    }
}