nav {
    background-color: var(--nav-background-color);
}

.navbar-brand {
    margin: 0 1rem 0 0;
    padding: 0;
    display: inline-block;
}

.navbar-brand img {
    margin-right: 0.25rem;
    padding: 0;
    display: inline-block;
}

.navbar-nav .nav-link {
    color: var(--link-color) !important;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: var(--hover-link-color) !important;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.menu-layout {
    width: 100%;
}

.menu-nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.menu-nav-left {
    justify-content: flex-start;
}

.menu-nav-right {
    justify-content: flex-end;
}

.menu-brand-center {
    margin: 0 1.5rem;
    flex: 0 0 auto;
}

@media (max-width: 991.98px) {
    #navbarMenu.collapsing,
    #navbarMenu.show {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .menu-nav {
        flex: 0 0 50%;
        max-width: 50%;
        align-items: flex-start;
    }

    .menu-nav-left {
        justify-content: flex-start;
        text-align: left;
    }

    .menu-nav-right {
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
}
