<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ '/static/structure/bootstrap/bootstrap.min.css' | relative_url }}" rel="stylesheet">
        <link href="{{ 'static/style.css' | relative_url }}" rel="stylesheet">
        <!-- Font for footer section -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <script src="{{ '/static/js/common.js' | relative_url }}" defer></script>
        <script src="{{ '/static/structure/bootstrap/bootstrap.bundle.min.js' | relative_url }}" defer></script>
        <script src="https://kit.fontawesome.com/a4b5770492.js" crossorigin="anonymous" defer></script>
        
        <!-- It's possible to link a dedicated css or javascript file to the page-->
        {% if page.custom_css %}
        <link rel="stylesheet" href="/static/css/{{ page.custom_css }}">
        {% endif %}
        {% if page.custom_js %}
        <script src="/static/js/{{ page.custom_js }}" defer></script>
        {% endif %}

        <title>Metiria - {{ page.tab }}</title>

        <link rel="icon" href="{{ 'files/logo/transparent_background/Logo/blue_logo.png' | relative_url }}" type="image/png">
    </head>

    <body>
        {% include menu.html %}

        <main>
            {{ content }}
        </main>

        
        {% include footer.html %}

        <!-- Button back-to-top of the page -->
        <button id="backToTopBtn" class="back-to-top" aria-label="Back to top" title="Back to top">
            <i class="fas fa-angles-up"></i>
        </button>

    </body>
</html>